# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user


presentations/*_files/
presentations/*-figure/
presentations/*.html
presentations/*_cache/

*.pdf
*.zip
dfo_ggplot_workshop/presentations/intro_REMOTE_8768.Rmd
dfo_ggplot_workshop/presentations/intro_BACKUP_8768.Rmd
dfo_ggplot_workshop/presentations/intro_LOCAL_8768.Rmd
dfo_ggplot_workshop/presentations/intro_BASE_8768.Rmd
dfo_tidyverse_workshop/tidyverse_presentation_files/MathJax.js.download
dfo_tidyverse_workshop/tidyverse_presentation.html
dfo_tidyverse_workshop/Introduction to the tidyverse_files/MathJax.js.download
dfo_tidyverse_workshop/Introduction to the tidyverse.html
dfo_rproj_workshop/dir_structure.R
dfo_rproj_workshop/research_compendium_fig.pptx
dfo_ggplot_workshop/presentations/recording_ggplot2.wrf
dfo_rproj_workshop/scripts/dfo_Rproj_scripts.R
dfo_rproj_workshop/recording.wrf
Mailing list for R workshop.txt
Mailing list for R workshop.msg
dfo_repro_research/ReproResearch/presentation/*.html
dfo_prog_workshop/presentation/*.html
dfo_prog_workshop/presentation/*_cache/
